[submodule "OCA/sale-workflow"]
	path = OCA/sale-workflow
	url = git@github.com:OCA/sale-workflow.git
	branch = 12.0

[submodule "OCA/web"]
	path = OCA/web
	url = git@github.com:OCA/web.git
	branch = 12.0

[submodule "OCA/l10n-netherlands"]
	path = OCA/l10n-netherlands
	url = git@github.com:OCA/l10n-netherlands.git
	branch = 12.0
